---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import DashboardWidget from '../components/DashboardWidget.astro';
---

<DefaultLayout title="Inscripción">
  <section>
    <h1>Bienvenidos</h1><br>
    <p>Kiara</p>
    <p class="size-20">LLene el siguiente formulario para realizar la inscripción</p>
    <form action="
    ">
  <input class="" type="text">
  <input type="text">
  <input type="text">
  <input type="text">
  <input type="text">
  <input type="text">
  <button>Enviar</button>
  <button>Limpiar</button>
  
  </form>
  </section>
  <section class="margin-32">
   
  </section>
</DefaultLayout>

<script>
  const date = new Date()
  document.querySelector('#current-time').innerHTML = `<em>${date.toDateString()}</em>`
</script>

<style >
  .input{
    width: 50%;
    margin: 2rem;
    padding: 2rem;
    background-color: gray;

  }
</style>